<app-header>
    <div header>
        <p>Model samochodu {{car.model}} </p>
     </div>
    <div othercontent>
       <p>Cars lists in services</p>
    </div>
</app-header>

<div class="data-header">Edit  {{car.model}} </div>

<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Model</label>
        <input formControlName="model" type="text" class="form-control" placeholder="model">
        <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>type</label>
        <input formControlName="type" type="text" class="form-control" placeholder="type">
      </div>
      <div class="col-sm-4">
        <label>plate</label>
        <input formControlName="plate" type="text" class="form-control" placeholder="plate">
        <p *ngIf="!carForm.get('plate').valid &&  carForm.get('plate').dirty" class="error">This field is required</p>
      </div>
      
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label>deliveryDate</label>
        <input formControlName="deliveryDate" type="text" class="form-control" placeholder="deliveryDate">
      </div>
      <div class="col-sm-4">
        <label>deadline</label>
        <input formControlName="deadline" type="text" class="form-control" placeholder="deadline">
      </div>
      <div class="col-sm-4">
        <label>color</label>
        <input formControlName="color" type="text" class="form-control" placeholder="color">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-4">
        <label>power</label>
        <input formControlName="power" type="text" class="form-control" placeholder="power">
      </div>
      <div class="col-sm-4">
        <label>clientFirstName</label>
        <input formControlName="clientfirstName" type="text" class="form-control" placeholder="FirstName">
      </div>
      <div class="col-sm-4">
        <label>clientSurname</label>
        <input formControlName="clientsurname" type="text" class="form-control" placeholder="Surname">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-6">
        <label>cost</label>
        <input formControlName="cost" type="text" class="form-control" placeholder="cost">
      </div>
      <div class="col-sm-6">
        <label>isFullyDamaged</label>
        <input formControlName="isFullyDamaged" type="checkbox" class="form-control" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button (click) ="addCar()" [disabled]="carForm.invalid" type="submit" class="btn btn-primary float-right">Add car</button>
        <button (click) ="carForm.reset()"  type="submit" class="btn btn-default float-right">Reset</button>
      </div>
    </div>
  </form>

</div>